<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<header><h1>MI RED SOCIAL</h1></header>
<body>
    <div class = "content">
        <div class = "login_register">
            <div class = 'login_quest'>
                <form action="add_record/" method="post">
                    <br><br>
                    <input name = "correo" placeholder = "Correo electronico">
                    <br><br>
                    <input name = "password" placeholder = "Contraseña">
                    <br><br>
                    <input class = "login_button" type="submit" value="Iniciar sesion">
                    <br><br>
            </div>
            <div class = "register">
                <p>¿No tienes cuenta? <span><a href="">Regístrate</a></span></p>
            </div>
        </div>
    </div>
</body>
<footer>
    <p>
        Made by <span><a href = "https://github.com/JunJunDAM?tab=repositories" > Jun <a></a></span>
    </p>
</footer>
</html>